---
layout: base_name.njk
title: Portfolio Home
bodyClass: homepage is-preload
---


<!-- 1. Intro Section Banner -->
{% include "partials/intro.njk" %}

<!-- 2. Main Wrapper Section (Central Content) -->
{% include "partials/homepage.njk" %}

