<!DOCTYPE html>

<njk lang="en">
	<head>
		<title>{{ title }} | Daniel Bonin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="{{ bodyClass or 'is-preload' }}">
		<div id="page-wrapper">

			


			<!-- 1. Navigation & Name(Included dynamically) -->
			{% include "partials/name_nav.njk" %}


			<!-- 2. Unique Page Content (Injected here) -->
			<div id="main-wrapper">
					{{ content | safe }}
			</div>

			<!-- 3. Footer (Included dynamically) -->
			{% include "partials/footer.njk" %}

		</div>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>
