<section id="intro" class="wrapper style1">
<!--  <div class="title">Who I Am</div> -->
    <div class="container">
        <p class="style1">System Operations, Cybersecurity, IT Helpdesk, and Customer Service</p>
        <p class="style2">
            Hi, I'm Dan<br />
            Find out more about me!
        </p>
        <ul class="actions">
            <li><a href="fis.njk" class="button style3 large">View My Expertise</a></li>
        </ul>
        <p></p>

        <p class="style3">With a diverse background in <strong>System Operations</strong> and <strong>Cybersecurity</strong>, I build and protect robust network infrastructures. I pair this technical expertise with years of <strong>IT Helpdesk</strong> and <strong>Customer Service</strong> experience, ensuring that systems not only run securely but that the people using them feel fully supported. Whether I'm mitigating a security threat or walking a client through a troubleshooting process, my goal is always efficiency, safety, and satisfaction.</p>
    </div>
    
</section>